@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap");
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 10fr 5vh;
  grid-template-areas: "hd" "mn" "ft";
}

header {
  z-index: 1;
  position: sticky;
  top: 0px;
  font-size: 0.9rem;
  grid-area: hd;
  background-color: black;
}

nav {
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
nav div {
  transition: 0.7s all ease-in-out;
  text-align: center;
}
nav div:hover {
  transform: scale(1.2);
  color: rgb(138, 206, 206);
}
nav img {
  width: 20%;
  height: 80%;
}
nav a {
  color: rgb(255, 255, 255);
}

main {
  background-color: #3c3c44;
  grid-area: mn;
  color: rgba(216, 216, 216, 0.829);
  padding-bottom: 3rem;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 2rem;
  grid-area: ft;
  background-color: black;
}
footer div a {
  color: rgb(255, 255, 255);
}
footer #redes {
  display: none;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  header {
    font-size: 1.8rem;
  }
  nav img {
    width: 21.1%;
    height: 100%;
    content: url("../img/megocpc.png");
  }
  body {
    height: 100vh;
  }
  footer {
    justify-content: left;
  }
  footer #redes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 30%;
  }
  footer i:hover {
    transform: scale(2);
  }
  footer div {
    margin-left: 3rem;
  }
  footer :nth-child(4) {
    position: absolute;
    right: 2rem;
  }
}
body {
  height: 100vh;
}

main {
  padding-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
main iframe {
  width: 50%;
  height: 100%;
}

section {
  width: 50%;
}
section table, section td {
  padding: 0.2rem;
  border: 1px solid white;
}
section h1::first-letter, section h2::first-letter {
  color: #eacf65;
}
section p::first-letter {
  color: #eacf65;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

aside {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 15%;
  margin-bottom: 1rem;
}/*# sourceMappingURL=ven.css.map */